.mg-flexstripes {
    
    &__container {
        display: flex;
        overflow: hidden;
        user-select: none;
    }
    
    &__stripes {
        flex: 1;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 35px rgba(0,0,0,0.2);
        transition: all 0.2s cubic-bezier(.41,.19,.69,1.38);
        
        &:hover {
            flex: 12; /*Ampliacion de las imagenes | Img expansion*/
        }

        img { /*Icono de aumento | Zoom icon*/
            max-width: inherit;
            position: relative;
        }

        a { 
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;
            opacity: .3;
            width: 40px;
            height: 40px;
            background: {
                color: #fff;
                image: url(../images/zoom.svg);
                repeat: no-repeat;
                position: center;
                size: 65%;
            }
            font-size: 2.4rem;
            border-radius: 50%;
            transform: translate(-50%, -50%); /* Alineacion centrada | Center align */
            transition: opacity .5s ease;

            @media screen and (max-width: 640px){
                font-size: 2rem;
            }
        }
        
        &:hover > a {
            opacity: 1;
            border-radius: 50%;
            box-shadow: 2px 2px 1px rgba(#333, .3);
        }
    }
    
    &__desc { /*Descripcion | Description*/
        width: 100%;
        position: absolute;
        bottom: -300%;
        background-color: rgba(0,0,0,0.7);
        transition: bottom .25s ease;

        p {
            padding: 0.4em 0.6em;
            color: white;
            font-size: 1.35rem;
        }
    }
    
    &__stripes:hover > &__desc {
        bottom: 0;  /*Mostrar la descripcion | Show description*/
    }
}


/*Modal*/
#sbox-window { 
    right: 0 !important; 
    left: 0 !important; 
    margin: auto !important; 
    height: auto !important; 
}

.sbox-content-image img {
    max-width: 100%; 
    height: auto !important; 
    border: 1px solid #ddd; 
    border-radius: 3px; 
}